In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('iphone-12-mini-reviews.csv')
df=df.dropna()

In [3]:
df.head()

                                             reviews
0  here is my review after 2 days of useDisplay:-...
1  I just say that this phone is awesome.. Small ...
2  Phone didn’t switch on. Battery is dead comple...
3  This is DAM small and looks like dummy piece, ...
4  All in all good phone those who loves compact ...

In [4]:
from nltk.sentiment.vader import SentimentIntensityAnalyzer

In [5]:
def get_compound_score(text):
    analyser=SentimentIntensityAnalyzer()
    analyser=analyser.polarity_scores(text)
    return analyser['compound']

In [6]:
df['compound_score']=df['reviews'].apply(lambda x:get_compound_score(x))

In [7]:
df

                                               reviews  compound_score
0    here is my review after 2 days of useDisplay:-...          0.9488
1    I just say that this phone is awesome.. Small ...          0.8072
2    Phone didn’t switch on. Battery is dead comple...         -0.9034
3    This is DAM small and looks like dummy piece, ...          0.8625
4    All in all good phone those who loves compact ...          0.9348
..                                                 ...             ...
549  Apple I phone the name itself everything.not r...          0.1779
550  I just say that this iPhone is awesome. Small ...          0.8555
551  Not good product. Requires better battery. Col...          0.1250
552  I love this colour and brand also..I wish that...          0.8402
553  This phone is small and amazingIts performance...          0.9001

[550 rows x 2 columns]

In [8]:
def get_label(x):
    if x>=0.05:
        return 'positive'
    elif x<=-0.05:
        return 'negative'
    else:
        return 'neutral'

In [9]:
print(get_label(0.06))
print(get_label(0.75))
print(get_label(-0.99))
print(get_label(-0.6))
print(get_label(0))

positive
positive
negative
negative
neutral

In [10]:
df['label']=df['compound_score'].apply(lambda x:get_label(x))

In [11]:
df

,reviews,compound_score,label
0,here is my review after 2 days of useDisplay:-...,0.9488,positive
1,I just say that this phone is awesome.. Small ...,0.8072,positive
2,Phone didn’t switch on. Battery is dead comple...,-0.9034,negative
3,"This is DAM small and looks like dummy piece, ...",0.8625,positive
4,All in all good phone those who loves compact ...,0.9348,positive
...,...,...,...
549,Apple I phone the name itself everything.not r...,0.1779,positive
550,I just say that this iPhone is awesome. Small ...,0.8555,positive
551,Not good product. Requires better battery. Col...,0.1250,positive
552,I love this colour and brand also..I wish that...,0.8402,positive
553,This phone is small and amazingIts performance...,0.9001,positive